<section class="content-header">
    <h1>
        <%= locale.title %>
        <small> <%= locale.tag %> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a></li><li><a href="#settings"><%= locale.settings %></a></li>
        <li class="active">
           <%= locale.title %>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-solid bg-gray-transparent pad10 animated fadeInUp">
    <div class="row">
        <div class="col-md-3" data-feature='CIRCULAR_SEL'  >
    <a href="#settings/log/general_log" class="big-button">
            
            <div class="icon"><i class="fa fa-hdd-o"></i></div>
            <span class="name"><%= locale.sel_log_settings_policy %></span>
    </a>
</div><div class="col-md-3"   >
    <a href="#settings/log/advanced_log" class="big-button">
            
            <div class="icon"><i class="fa fa-gears"></i></div>
            <span class="name"><%= locale.advanced_log_settings %></span>
    </a>
</div>
    </div>
</div>
</section>