<section class="content-header">
    <h1>
        <%= locale.title %>
        <small> <%= locale.tag %> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a></li><li><a href="#settings"><%= locale.settings %></a></li><li><a href="#settings/network"><%= locale.network %></a></li>
        <li class="active">
           <%= locale.title %>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col-md-5">
    <div class="box box-primary animated fadeInUp">
        <div class="box-header">
            <div class="pull-right help"><a class="col-sm-1 help-link" href="#"><i class="fa fa-question-circle"></i></a></div>
            <h3 class="box-title"><%= locale.link %></h3>
        </div>
        <div class="box-body">
            <div class="alert alert-success hide">
                <!-- <i class="fa fa-check"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongSuccessMsg %></b> <%= locale.successMsg %>
            </div>
            <div class="alert alert-danger hide">
                <!-- <i class="fa fa-ban"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongFailureMsg %></b> <%= locale.failureMsg %>
            </div>
            <form action="javascript://" method="POST" role="form">
                <div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.link_select_the_network_interface_from_the_list_for_which_the_link_speed_and_duplex_mode_are_to_be_configured %></div>
    <label for="interface_name"><%= locale.linklan_interface %></label>
    <select name="interface_name" id="idinterface_name" class="form-control">
    	
    </select>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.linkthis_option_is_enabled_to_allow_the_device_to_perform_automatic_configuration_to_achieve_the_best_possible_mode_of_operation_speed_and_duplex_over_a_link %></div>
    <label>
        <input type="checkbox" value="1" id="idauto_negotiation" > <%= locale.linkauto_negotiation %>
    </label>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.link_link_speed_will_list_all_the_supported_capabilities_of_the_network_interface_it_can_be_101001000_mbps_strongnotestrong_link_speed_of_1000_mbps_is_not_applicable_when_auto_negotiation_is_off %></div>
    <label for="link_speed_readonly"><%= locale.linklink_speed %></label>
    <div class="form-control-static" id="idlink_speed_readonly"></div>
</div><div class="form-group"  >
	
    <label for="link_speed"><%= locale.linklink_speed %></label>
    <select name="link_speed" id="idlink_speed" class="form-control">
    	<option value='100'><%= locale.linkstr_100mbps %></option><option value='10'><%= locale.linkstr_10mbps %></option>
    </select>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.linkselect_any_one_of_the_following_duplex_modes_ul_li_half_duplexli_li_full_duplexli_ul %></div>
    <label for="duplex_mode_readonly"><%= locale.linkduplex_mode %></label>
    <div class="form-control-static" id="idduplex_mode_readonly"></div>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.linkselect_any_one_of_the_following_duplex_modes_ul_li_half_duplexli_li_full_duplexli_ul %></div>
	<label for="duplex_mode"><%= locale.linkduplex_mode %></label><br/>
	<label>
							        <input type='radio' value='FULL' name='duplex_mode' id='idduplex_mode' > <%= locale.linkfull_duplex %>
							    </label>&nbsp;&nbsp;&nbsp;&nbsp;<label>
							        <input type='radio' value='HALF' name='duplex_mode' id='idduplex_mode' > <%= locale.linkhalf_duplex %>
							    </label>&nbsp;&nbsp;&nbsp;&nbsp;    
</div><div class="pull-right">
    <a class="btn btn-primary" id="save"><i id='save-icon' class="fa fa-save"></i> &nbsp; <%= locale.saveLabel %></a>
</div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
</div>
</section>