<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
       <%=locale.server_configuration%>
        <small><%=locale.server_configuration%></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> <%=locale.home%></a>
        </li>
        <li class="active">
           <%=locale.server_configuration%>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-solid bg-gray-transparent pad10 animated fadeInUp">
        <div class="row">
            <div class="col-md-3">
                <a href="#server-configuration/id_led_ctrl" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.server_locate%></span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#server-configuration/power_restore_ctrl" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.power_restore_policy%></span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#server-configuration/first_boot_device" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.first_boot_device%></span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#server-configuration/cool_policy" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.cooling_policy%></span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#server-configuration/power_button_lock" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.power_btn_lock%></span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#server-configuration/power_hot_standby" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.power_hot_standby%></span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#server-configuration/me_power_policy" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.me_power_policy%></span>
                </a>
            </div>
            
             <div class="col-md-3">
                <a href="#server-configuratiion/power_consumption" class="big-button">
                        <div class="icon"><i class="ion-ios-clock"></i>
                        </div>
                        <span class="name"><%=locale.power_consumption%></span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
