<!-- Small boxes (Stat box) -->
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua animated flipInX delay-0">
                                <div class="inner">
                                    <h3 id="new-ae-scripts-count">
                                        0
                                    </h3>
                                    <p>
                                         <%=locale.new_scripts%>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="#"  id="script_more_info" class="small-box-footer">
                                   <%=locale.more_info%> <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-green animated flipInX delay-0">
                                <div class="inner">
                                    <h3>
                                        <span id="uptime">-</span> <sup style="font-size: 20px">hours</sup>
                                    </h3>
                                    <p>
                                       <%=locale.up_time%>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div>
                                <a href="#power-control" class="small-box-footer">
                                    <%=locale.power_cycle%> <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow animated flipInX delay-0">
                                <div class="inner">
                                    <h3 id="asserted-events-count">
                                        0
                                    </h3>
                                    <p>
                                        <%=locale.pending_assertions%>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pin"></i>
                                </div>
                                <a href="#logs/event-log" class="small-box-footer">
                                   <%=locale.more_info%> <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red animated flipInX delay-0">
                                <div class="inner">
                                    <h3 id="new-audit-issues-count">
                                        0
                                    </h3>
                                    <p>
                                        <%=locale.new_audit_issue%>
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person"></i>
                                </div>
                                <a href="#logs/audit-log" class="small-box-footer">
                                    <%=locale.more_info%> <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
