<div class="row" style="width:96%;">
	<div class="col-md-11" ></div>
	<div class="col-md-1" style="margin-top: 40px;">
		<div id="lg_language_div" style="float: right;cursor: pointer;">
			<img src="images/lg_qh.png">&nbsp;&nbsp;<font id="lg_language_name"><%=locale.lg_language%></font>
		</div>
		<font id="lg_current_language" style="display:none;"><%=locale.lg_language_tag%></font>
	</div>
</div>

<div class="login-view">

</div>
<!--<div class="login">

    <form action="#" method="POST" role="form">
    	<legend>Authentication</legend>

    	<div class="input-group">
    		<div class="input-group-addon"><i class="fa fa-user"></i></div>
    		<input type="text" class="form-control" id="username" placeholder="Username">
    	</div>
    	<div class="input-group">
    		<div class="input-group-addon"><i class="ion-locked"></i></div>
    		<input type="password" class="form-control" name="password" id="password" placeholder="Password">
    	</div>

    	<button type="button" class="btn btn-primary pull-right">Login</button>
    </form>

</div>-->