<section class="content-header">
    <h1>
        <%= locale.title %>
        <small> <%= locale.tag %> </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a></li><li><a href="#settings"><%= locale.settings %></a></li><li><a href="#settings/firewall"><%= locale.firewall %></a></li><li><a href="#settings/firewall/port_firewall"><%= locale.port_oriented_firewall_rules %></a></li>
        <li class="active">
           <%= locale.title %>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="col-md-5">
    <div class="box box-primary animated fadeInUp">
        <div class="box-header">
            <div class="pull-right help"><a class="col-sm-1 help-link" href="#"><i class="fa fa-question-circle"></i></a></div>
            <h3 class="box-title"><%= locale.add_port_rule %></h3>
        </div>
        <div class="box-body">
            <div class="alert alert-success hide">
                <!-- <i class="fa fa-check"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongSuccessMsg %></b> <%= locale.successMsg %>
            </div>
            <div class="alert alert-danger hide">
                <!-- <i class="fa fa-ban"></i> -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                <b><%= locale.strongFailureMsg %></b> <%= locale.failureMsg %>
            </div>
            <form action="javascript://" method="POST" role="form">
                <div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.add_port_rulethis_field_is_used_to_configured_the_port_or_range_of_port_addressesul_li_port_value_ranges_from_1_to_65535liulstrongnote_strong_port_80_is_blocked_for_tcpudp_protocols %></div>
    <label for="port_start"><%= locale.add_port_ruleport_single_or_range_start %></label>
    <input type="text" class="form-control" id="idport_start" value="" placeholder="">
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.add_port_rulethis_field_is_used_to_configured_the_port_or_range_of_port_addressesul_li_port_value_ranges_from_1_to_65535_ulstrongnote_strong_port_80_is_blocked_for_tcpudp_protocols %></div>
    <label for="port_end"><%= locale.add_port_ruleport_range_end %></label>
    <input type="text" class="form-control" id="idport_end" value="" placeholder="<%= locale.optional %>">
</div><div class="form-group"  >
	
    <label for="protocol"><%= locale.add_port_ruleprotocol %></label>
    <select name="protocol" id="idprotocol" class="form-control">
    	<option value='0'><%= locale.add_port_ruletcp %></option><option value='1'><%= locale.add_port_ruleudp %></option><option value='2'><%= locale.add_port_ruleboth %></option>
    </select>
</div><div class="form-group"  >
	
    <label for="network_type"><%= locale.add_port_rulenetwork_type %></label>
    <select name="network_type" id="idnetwork_type" class="form-control">
    	<option value='IPv4'><%= locale.add_port_ruleipv4 %></option><option value='IPv6'><%= locale.add_port_ruleipv6 %></option><option value='Both'><%= locale.add_port_ruleboth %></option>
    </select>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.add_port_rulethis_option_used_to_enable_or_disable_firewall_rules_with_timeout %></div>
    <label>
        <input type="checkbox" value="1" id="idtimeout" > <%= locale.add_port_ruleenable_timeout %>
    </label>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.add_port_rulethe_respective_firewall_rule_effect_will_start_from_this_date %></div>
    <label for="start-date"><%= locale.add_port_rulestart_date %></label>
    <div class='input-group date' id='idstart-date' data-date-format="YYYY/MM/DD">
        <input type='text' class="form-control" placeholder="YYYY/MM/DD" />
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.add_port_rulethe_respective_firewall_rule_effect_will_start_from_this_time %></div>
    <label for="start-time"><%= locale.add_port_rulestart_time %></label>
    <div class='input-group date' id='idstart-time'>
        <input type='text' class="form-control" placeholder="" />
        <span class="input-group-addon">
            <span class="fa fa-clock-o"></span>
        </span>
    </div>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.add_port_rulethe_respective_firewall_rule_effect_will_end_from_this_date %></div>
    <label for="end-date"><%= locale.add_port_ruleend_date %></label>
    <div class='input-group date' id='idend-date' data-date-format="YYYY/MM/DD">
        <input type='text' class="form-control" placeholder="YYYY/MM/DD" />
        <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
        </span>
    </div>
</div><div class="form-group"  >
	<div class="alert alert-info help-item hide"    role="alert"><%= locale.add_port_rulethe_respective_firewall_rule_effect_will_end_from_this_time %></div>
    <label for="end-time"><%= locale.add_port_ruleend_time %></label>
    <div class='input-group date' id='idend-time'>
        <input type='text' class="form-control" placeholder="" />
        <span class="input-group-addon">
            <span class="fa fa-clock-o"></span>
        </span>
    </div>
</div><div class="form-group"  >
	
    <label for="rule"><%= locale.add_port_rulerule %></label>
    <select name="rule" id="idrule" class="form-control">
    	<option value='allow'><%= locale.add_port_ruleallow %></option><option value='block'><%= locale.add_port_ruleblock %></option>
    </select>
</div><div class="pull-right">
    <a class="btn btn-primary" id="save"><i id='save-icon' class="fa fa-save"></i> &nbsp; <%= locale.saveLabel %></a>
</div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>
</div>
</section>