<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <%= locale.power_energy %>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i><%= locale.home %></a>
        <li><a href="#longRangeControl"><%= locale.parenttitle %></a></li>
        <li class="active"><%= locale.power_energy %></li>
    </ol>
</section>
<!-- Main content -->
<section class="content tabs-content">

    <div class="row" style="margin-top:-10px;margin-bottom:20px;">
        <div class="col-md-12 tab">
            <a id="pe_power_control" class="menu_tab menu_active" ><%=locale.pe_power_control %></a>
            <a id="pe_power_hot_standby" class="menu_tab" onclick="replace_url('#server-configuration/power_hot_standby')"><%=locale.pe_power_hot_standby %></a>
            <a id="pe_me_power_policy" class="menu_tab"  onclick="replace_url('#server-configuration/me_power_policy')"><%=locale.pe_me_power_policy %></a>
            <a id="pe_power_restore_control" class="menu_tab" onclick="replace_url('#server-configuration/power_restore_ctrl')"><%=locale.pe_power_restore_control %></a>
            <!-- // ks_lz_20170711  power button lock ++>>  -->
            <a id="pe_power_button_lock" class="menu_tab" onclick="replace_url('#server-configuration/power_button_lock')"> <%=locale.pe_power_button_lock %></a>
            <!-- // ks_lz_20170711  power button lock ++>>  -->        
        </div>
    </div>

    <div class="box">
    <div class="box-header">
        <div class="pull-right help"><a class="col-sm-1 help-link" href="#"><i class="fa fa-question-circle"></i></a></div>
        <h3 class="box-title"></h3>
    </div>
    <div class="box-body">
        <div class="alert alert-success hide"><b></b> </div>
        <div class="alert alert-danger hide"><b></b></div>
        <div id="chassis_status" style="font-weight:bold;color:#3c8dbc"></div></br>
        <div class="alert alert-info help-item hide" role="alert"><%= locale.help_status %></div>
        <form action="javascript://" method="POST" role="form">
            <div id="pc_warning" class="alert alert-warning" style="display:none;"><%= locale.warningInfo %></div>
            <div id="pc_power_status" class="box-body"></div>
            <div class="form-group">
                <div class="alert alert-info help-item hide" role="alert"><%= locale.help_selection %></div>
                <label>
                    <input type='radio' value='0' name='power_command' id='idpower_off_command'> <%= locale.power_off %>
                </label>
                <div class="alert alert-info help-item hide" role="alert"><%= locale.help_forceoff %></div>
            </div>
            <div class="form-group">
                <label>
                    <input type='radio' value='1' name='power_command' id='idpower_on_command'> <%= locale.power_on %>
                </label>
                <div class="alert alert-info help-item hide" role="alert"> <%= locale.help_forceon %></div>
            </div>
            <div class="form-group">
                <label>
                    <input type='radio' value='2' name='power_command' id='idpower_cycle_command'> <%= locale.power_cycle %>
                </label>
                <div class="alert alert-info help-item hide" role="alert"><%= locale.help_powercycle %></div>
            </div>
            <div class="form-group">
                <label>
                    <input type='radio' value='3' name='power_command' id='idpower_reset_command'> <%= locale.hard_reset %>
                </label>
                <div class="alert alert-info help-item hide" role="alert"><%= locale.help_hardreset %></div>
            </div>
            <div class="form-group">
                <label>
                    <input type='radio' value='5' name='power_command' id='idpower_acpi_command'> <%= locale.acpi_shutdown %>
                </label>
                <div class="alert alert-info help-item hide" role="alert"><%= locale.help_acpi %></div>
            </div>
            <div class="pull-right">
                <a class="btn btn-primary" id="save"><i id='save-icon' class="fa fa-power-off"></i> &nbsp; <%= locale.perform_action %></a>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
</section>
<!-- /.content -->
