<td>
        <div class="script-id">
            <%=id%>
        </div></td>
        <td><div class="script-title">
            <%=title%>
        </div></td>
        <td><div class="script-author">
            <%=author%>
        </div>
        <div class="col-md-3 script-time-info">
            <%=time_info%>
        </div>
        <div class="col-md-2">
            <!--
            <a href="#scripts/<%=id%>" class="btn btn-default script-button script-edit"><i class="fa fa-edit"></i></a>
            -->
            <button type="button" class="btn btn-danger script-button script-delete"><i class="ion ion-close-circled"></i></button>
        </div></td>