<td>
    <div class="task-id">
        <%=id%>
    </div>
</td>
<td>
    <div class="task-title">
        <%=title%>
    </div>
</td>
<td>
    <div class="task-author">
        <%=author%>
    </div>
</td>
<td>
    <div class="task-time-info">
        <%=time_info%>
    </div>
</td>
<td>
    <div>
        <a href="#tasks/<%=id%>" class="btn btn-success task-button task-edit"><i class="ion ion-edit"></i></a>
        <button type="button" class="btn btn-danger task-button task-delete"><i class="ion ion-close-circled"></i></button>
    </div>
</td>
